
@import './variables.scss';
*{
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
body { font-family: 'Poppins'; font-size: 18px; max-width: 1560px; margin: 0 auto;}
a{
    text-decoration: none;
    list-style: none;
    color: $color-black-init;
    padding: 0 1rem;
    font-size: 14px;
    &:hover{
        color: black;
    }
}
button{    
        span{
            color: white;
        }
}

.logo{               
 padding: 0 1rem 0 0; 
    @media (max-width: 1200px) {
        padding: 0;
    }              
}