@import './../../../../styles/variables.scss';
.banner{
    overflow: hidden;
    padding-bottom: 150px;
    margin-left: 150px;
    margin-top: 50px;
    @media (max-width: 576px) {
        margin: 0;
        padding: 20px 20px 150px;
        display: flex;
        flex-wrap: wrap-reverse;
    }
    &--text{
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        padding-left: 0px;
        h1{
            font-size: 60px;
            line-height: normal;
            @media (max-width: 576px) {
                font-size: 40px;
            }
        }
        p{
            color: $Gray;
            width: 100%;
            font-size: 30px;
            line-height: normal;
            @media (max-width: 576px) {
                font-size: 20px;
            }
        }
        button{
            margin: 0;
        }
        @media (max-width: 576px) {
            justify-content: center;
            text-align: center;
        }
    }
    &--img{
        picture{           
            img{
                @media (max-width: 576px) {
                    max-height: 280px;
                    width: 100%;
                }
            }
        }
    }
}
