<section class="content">
    <div class="shorten">
        <picture>
            <source media="(max-width:1200px)" srcset="../../../../assets/images/bg-shorten-mobile.svg" alt="shorten">
            <img src="../../../../assets/images/bg-shorten-desktop.svg" alt="shorten">
        </picture>
        <div class="shorten--form">
            <!-- [formGroup]="form" (ngSubmit)="createProduct($event)" -->
            <form>
                <!-- Id -->
                <div class="refForm">
                    <mat-form-field appearance="outline" class="id">
                        <input matInput type="email" matInput [formControl]="emailFormControl"
                            placeholder="Shorten a link here...">

                    </mat-form-field>
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                </div>
                <button mat-raised-button type="submit">Shorten It!</button>
            </form>
            <button mat-raised-button (click)="crearteUrl()">Shorten It!</button>
        </div>
    </div>
    <div class="info">
        <h2>Advanced Statistics</h2>
        <p>Track how your links are performing across the web with our advanced statistics dashboard.</p>
    </div>
    <div class="row">
        <app-benefit *ngFor="let benefit of benefits" [benefit]="benefit">
        </app-benefit>
    </div>
</section>