@import './../../../../styles/variables.scss';
.boost{    
    /* padding: 50px 0; */
    position: relative;
    background-color: $VeryDarkBlue;
    picture{
        height: auto;
        width: -webkit-fill-available;
        font-size: 0;
        line-height: 0;
        img{
            float: initial;
            width: 100%;
            display: block;
        }
    } 
    &--info{
        width: 100%;
        position: absolute;
        display: grid;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        h2{
            color: white;
        }
    }
}