<mat-toolbar class="header">
    <mat-toolbar-row class="header--row">
        <div class="row between-xs middle-xs header--row__div">
            <div class="content">
                <a href="/" class="logo">
                    <img src="assets/images/logo.svg" alt="Logo">
                </a>
                <nav>
                    <a routerLink="/features" routerLinkActive="active">Features</a>
                    <a routerLink="/pricing" routerLinkActive="active">Pricing</a>
                    <a routerLink="/resources" routerLinkActive="active">Resources</a>
                </nav>
            </div>
            <div class="autentication">
                <a routerLink="/home" routerLinkActive="active">Login</a>
                <button mat-raised-button>Sign Up</button>
            </div>
            <a mat-button type="button" class="hamburguer" (click)="openMenu()"><span class="material-icons">
                    menu
                </span></a>
        </div>
    </mat-toolbar-row>
    <div *ngIf="open" class="header--responsive">
        <nav>
            <a routerLink="/features" routerLinkActive="active">Features</a>
            <a routerLink="/pricing" routerLinkActive="active">Pricing</a>
            <a routerLink="/resources" routerLinkActive="active">Resources</a>
        </nav>
        <div class="autentication">
            <a routerLink="/home" routerLinkActive="active">Login</a>
            <button mat-raised-button>Sign Up</button>
        </div>
    </div>
</mat-toolbar>